name: Build and Publish Snapshot

on:
  push:
    branches: 
        - develop

jobs:
  build_and_publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  
        ref: ${{ github.head_ref }}
        token: ${{ secrets.RELEASE_TOKEN }}
    
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'adopt'
        server-id: github
        settings-path: ${{ github.workspace }}

    - name: Get short SHA
      id: getsha
      run: |
        echo "sha7=$(echo ${GITHUB_SHA} | cut -c1-7)" >> "$GITHUB_ENV"
        echo "git_hash=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"

    - name: Set new version
      run: |
        version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
        baseVersion=${version%-*-*-*-*} 
        timestamp=$(mvn help:evaluate -Dexpression=maven.build.timestamp -q -DforceStdout)
        newVersion=$baseVersion-$sha7-$timestamp-SNAPSHOT
        mvn versions:set -DnewVersion=$newVersion
        mvn versions:commit
      

    - name: Commit and Push Changes
      run: |
           git config --local user.email "action@github.com"
           git config --local user.name "GitHub Action"
           git remote set-url origin https://x-access-token:${{ secrets.RELEASE_TOKEN }}@github.com/${{ github.repository }}
           git add pom.xml
           git diff-index --quiet HEAD || git commit -m "Prepare for next development iteration [ci skip]"
           git push

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Publish to GitHub Packages Apache Maven
      run: mvn deploy -s ${{ github.workspace }}/settings.xml
      env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
