name: Build and Test on Develop Branch

on:
  push:
    branches:
      - develop


  pull_request:
        branches: 
            - develop
        types: [closed]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  
        ref: ${{ github.head_ref }}
        token: ${{ secrets.RELEASE_TOKEN }}
    
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'adopt'
        server-id: github
        settings-path: ${{ github.workspace }}

    - name: Build with Maven
      run: mvn -B package --file pom.xml