name: Publish and Release on Main Branch

on:


  pull_request:
    types: 
        - closed
    branches: 
        - develop
  
  push:
    branches: 
        - main
jobs:
  publish_and_release:
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.ref == 'develop' && github.event.pull_request.merged == true

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  
        ref: ${{ github.head_ref }}
        token: ${{ secrets.RELEASE_TOKEN }}
    
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'adopt'
        server-id: github
        settings-path: ${{ github.workspace }}

    - name: Generate Build Number
      id: generate_build_number
      run: |
        buildNumber=$(mvn buildnumber:create | grep "BuildNumber" | cut -d' ' -f2)
        echo "::set-output name=buildNumber::$buildNumber"

    - name: Set new version
      run: |
        version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
        if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            # Remove -SNAPSHOT suffix for releases on main branch
            newVersion=${version%-SNAPSHOT}
          else
            # Increment version and append -SNAPSHOT suffix for develop
            newVersion=${version%.*}.$((${version##*.}+1))${{ steps.generate_build_number.outputs.buildNumber }}-SNAPSHOT
          fi
          mvn versions:set -DnewVersion=$newVersion
          mvn versions:commit
      
      

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Publish to GitHub Packages Apache Maven
      uses: whelk-io/maven-settings-xml-action@v21
      with:
        repositories: >-
          [
            {
              "id": "github",
              "url": "https://maven.pkg.github.com/bertrandmbanwi/hello-app"
            }
          ]
        servers: >-
          [
            {
              "id": "github",
              "username": "${{ github.actor }}",
              "password": "${{ secrets.RELEASE_TOKEN }}"
            }
          ]

    - name: Deploy to GitHub Pages
      run: mvn deploy -s ${{ github.workspace }}/settings.xml
      env:
              GITHUB_USERNAME: ${{ github.actor }}
              GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}

    - name: Commit and Push Changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git remote set-url origin https://x-access-token:${{ secrets.RELEASE_TOKEN }}@github.com/${{ github.repository }}
        git commit -m "Prepare for release [ci skip] " -a
        git push


    - name: Create Release Tag
      id: create_tag
      run: |
        version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
        git tag $version
        git push origin $version